// Gray
$white: #fff;
$gray-5: #f4f5f6;
$gray-10: #e6e8ea;
$gray-20: #cdd1d5;
$gray-30: #b1b8be;
$gray-40: #8a949e;
$gray-50: #6d7882;
$gray-60: #58616a;
$gray-70: #464c53;
$gray-80: #33363d;
$gray-90: #1e2124;
$gray-95: #131416;
$black: #000;

// Primary
$primary-5: #ecf2fe;
$primary-10: #d8e5fd;
$primary-20: #b1cefb;
$primary-30: #86aff9;
$primary-40: #4c87f6;
$primary-50: #256ef4;
$primary-60: #0b50d0;
$primary-70: #083891;
$primary-80: #052561;
$primary-90: #03163a;
$primary-95: #020f27;

// Accent
$accent-5: #fbeff0;
$accent-10: #f5d6d9;
$accent-20: #ebadb2;
$accent-30: #e0858c;
$accent-40: #d65c66;
$accent-50: #d63d4a;
$accent-60: #ab2b36;
$accent-70: #7a1f26;
$accent-80: #521419;
$accent-90: #310c0f;
$accent-95: #21080a;

// Erorr
$error-5: #fcdfd9;
$error-10: #fcdfd9;
$error-20: #f7afa1;
$error-30: #f48771;
$error-40: #f05f42;
$error-50: #de3412;
$error-60: #bd2c0f;
$error-70: #8a240f;
$error-80: #5c180a;
$error-90: #390d05;
$error-95: #260903;
