// Gray
$white: #fff;
$gray-5: #f4f5f6;
$gray-10: #e6e8ea;
$gray-20: #cdd1d5;
$gray-30: #b1b8be;
$gray-40: #8a949e;
$gray-50: #6d7882;
$gray-60: #58616a;
$gray-70: #464c53;
$gray-80: #33363d;
$gray-90: #1e2124;
$gray-95: #131416;
$black: #000;

// Primary
$primary-5: #ecf2fe;
$primary-10: #d8e5fd;
$primary-20: #b1cefb;
$primary-30: #86aff9;
$primary-40: #4c87f6;
$primary-50: #256ef4;
$primary-60: #0b50d0;
$primary-70: #083891;
$primary-80: #052561;
$primary-90: #03163a;
$primary-95: #020f27;
