// Gray
$white: #fff;
$gray-5: #f4f5f6;
$gray-10: #e6e8ea;
$gray-20: #cdd1d5;
$gray-30: #b1b8be;
$gray-40: #8a949e;
$gray-50: #6d7882;
$gray-60: #58616a;
$gray-70: #464c53;
$gray-80: #33363d;
$gray-90: #1e2124;
$gray-95: #131416;
$black: #000;

// Text
$text-primary: #0b50d0;
$text-secondary: #052b57;
$text-accnet: #ab2b36;

// Surface
$surface-primary: #ecf2fe;
$surface-secondary: #eef2f7;
$surface-accnet: #fbeff0;
