@use '@/styles/typography' as Typography;
@use '@/styles/colors' as Colors;

* {
  font-family: var(--font-Noto-Sans-KR), var(--font-inter), sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-y: scroll;
}

.scrollbar {
  padding-right: 6px;
  &::-webkit-scrollbar {
    display: flex;
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: Colors.$gray-20;
    border-radius: 3px;
  }
}
