@use '@/styles/typography' as Typography;
@use '@/styles/colors' as Colors;

* {
  font-family: var(--font-Noto-Sans-KR), var(--font-inter), sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-y: scroll;
}
